@use "base/variables" as v;

.text-center {
  text-align: center;
}

.text-info {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.2px;
  grid-column: 1 / -1;
}

.bg-primary {
  background-color: v.$primary;
}

.bg-white {
  background-color: v.$white;
}

.margin-negative-10 {
  margin-top: -10rem;
}

.padding-bottom-0 {
  padding-bottom: 0;
}

.alert-box {
  text-align: center;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  opacity: 0;
  transition: all 0.1s;

  &.error,
  &.success {
    opacity: 1;
  }

  &.error {
    background-color: v.$alertError;
  }

  &.success {
    background-color: v.$alertSuccess;
  }
}

.alert-text {
  margin: 0;
  color: v.$white;
  font-weight: bold;
  text-transform: uppercase;
}

.d-none {
  display: none;
}

.hidden {
  display: none;
}

.margin-0 {
  margin: 0;
}
