@use "base/variables" as v;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: v.$mainFont;
  font-size: 1.6rem;
  background-color: v.$lighBrown;
}

p {
  color: v.$black;
  font-size: 1.6rem;
  line-height: 2;
}

.container {
  width: min(95%, 120rem);
  margin-inline: auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
