@use "variables" as v;

@mixin bgColor($color) {
  background-color: $color;
}

@mixin telephone {
  @media (min-width: v.$telephone) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}

@mixin grid($colums, $column-gap) {
  display: grid;
  grid-template-columns: repeat($colums, 1fr);
  gap: $column-gap;
}
