@use "base/variables" as v;
@use "base/mixins" as m;

.content-about-us {
  @include m.tablet {
    @include m.grid(2, 2rem);
  }
  .image {
    margin-bottom: 5rem;
    @include m.tablet {
      margin-bottom: 0;
      margin-right: 2rem;
    }
    img {
      transform: rotate(-6deg);
      border: 3rem solid v.$white;
      box-shadow: 0.9rem 1rem 0.5rem -0.7rem rgb(0 0 0 / 0.35);
    }
  }

  .text {
    blockquote {
      margin: 0;
      padding: 1rem;
      border-left: 0.5rem solid v.$primary;
      font-size: 2rem;
    }
  }
}
